body {
    background: #050505;
    color: #ddd;
}

header {
    width: 90%;
    margin: auto;
}
.layout {
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}
